<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Welcome to VOTE!</title>
    <meta name="description" content="Front page">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style src="/style.css"></style>
    <link rel="stylesheet" type="text/css" href="/style.css">

  </head>
  <body>
    <header>
      <a href="/signup" id="signup"><p>
        Signup
        </p></a>
      <h1>
        Voting for all!
      </h1>
    </header>

    <main>
      <p class="bold">THE VOTING SITE</p>
      <p>Question of the day:</p>
      <div id="qu">
        <form>
          
        </form>
      </div>
      
      
      <div id="currentScore">
        
      </div>
      
      <section class="">

      </section>
    </main>

    <footer>
      <p>Don't speak unless spoken to. Personal space: at least an arm's length of distance between people.
      This is <a href ="https://www.google.nl/imgres?imgurl=https%3A%2F%2Ffinnishcrashcourse.files.wordpress.com%2F2016%2F02%2Ffpv0whf.jpg&imgrefurl=https%3A%2F%2Ffinnishcrashcourse.wordpress.com%2F2016%2F02%2F16%2Fpersonal-space%2F&docid=xnW1vyGa4_mwqM&tbnid=LAUUNc7aqeleAM%3A&vet=10ahUKEwii_76cgKXXAhUSGuwKHSgwBKMQMwgqKAEwAQ..i&w=2592&h=1456&bih=744&biw=1265&q=finnish%20bush%20stop&ved=0ahUKEwii_76cgKXXAhUSGuwKHSgwBKMQMwgqKAEwAQ&iact=mrc&uact=8">heaven</a>, and it's a Finnish bus stop.</p>
      <p><em>-- u/ReinierPersoon</em></p>
    </footer>

    <!--  -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    </footer>
  </body>
</html>
