/*style.css*/

@font-face {
  font-family: 'Arimo';
  src: url(https://fonts.googleapis.com/css?family=Arimo:700);
}

body {
  width: 60%;
  min-width: 600px;
  margin: 0 auto;
  background-color: rgb(155,205,255)
}
p {
/*add raleway font because why not*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {

}
main{
  background-color: rgba(240, 240, 240, 0.9); 
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}
footer{
 width: 60%;
 padding: 10px;
}

h1 {
  font-family: sans-serif;
}

.singleVote {
  /*background-color: rgba(33, 31, 29, 0.844);*/
  background-color: rebeccapurple;
  margin: 2px;
  color: rgba(240, 240, 240, 0.9);
  padding: 10px;
}

.singleVote h4 {
  background-color: gray;
  font-size: 23px;
  font-family: 'Arimo', sans-serif;
  padding: 15px;

}

.option {
  display: block;
  margin-bottom: 5px;
}

.op {
  /*float: left;*/
  display: inline-block;
  width: 150px;
  margin: 10px;
  margin-right: 15px;
}

.count {
  /*float: right;*/
  display: inline-block;
  margin: 10px;
  margin-right:40px;
  
}

.votebtn {
  /*float: right;*/
  display: inline-block;
  margin: 10px;
  float: right;
  margin-right: 30px;
}

#qu {
  background-color: rgba(rgba(72, 34, 8, 0.193), green, blue, alpha);
}
input {
  vertical-align: middle; 
  margin: 0px;
}
form * {
  vertical-align: middle;
  margin: 0px;
}